<a href="https://colab.research.google.com/github/karlosc7/InitPythonDocumentation/blob/Curso_Seguimiento/InitPythonLibrary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hola Mundo

In [1]:
print('Hello World')
print ("Hola Mundo")
print ('Mi nombre es Carlos' + ' y soy administrador de sistemas')

Hello World
Hola Mundo
Mi nombre es Carlos y soy administrador de sistemas

# Mates

In [ ]:
print(10 + 5)

float1 = 13.65
float2 = 3.40
print(float1 + float2)

num = 20
flt = 10.5
print(num + flt)
print(10 - 5)

float1 = -18.678
float2 = 3.55
print(float1 - float2)

num = 20
flt = 10.5
print(num - flt)
print(40 * 10)

float1 = 5.5
float2 = 4.5
print(float1 * float2)

print(10.2 * 3)
print(40 / 10)

float1 = 5.5
float2 = 4.5
print(float1 / float2)
print(12.4 / 2)
print(43 // 10)

float1 = 5.5
float2 = 4.5
print(5.5 // 4.5)
print(12.4 // 2)
print(10 % 2)

twenty_eight = 28
print(twenty_eight % 10)

print(-28 % 10)  # The remainder is positive if the right-hand operand is positive
print(28 % -10)  # The remainder is negative if the right-hand operand is negative
print(34.4 % 2.5)  # The remainder can be a float
# Different precedence
print(10 - 3 * 2)  # Multiplication computed first, followed by subtraction

# Same precedence
print(3 * 20 / 5)  # Multiplication computed first, followed by division
print(3 / 20 * 5)  # Division computed first, followed by multiplication
print((10 - 3) * 2)  # Subtraction occurs first
print((18 + 2) / (10 % 8))

15
17.05
30.5
5
-22.228
9.5
400
24.75
30.599999999999998
4.0
1.2222222222222223
6.2
4
1.0
6.0
0
8
2
-2
1.8999999999999986
4
12.0
0.75

# LÃ³gica

In [ ]:
num1 = 5
num2 = 10
num3 = 10
list1 = [6,7,8]
list2 = [6,7,8]

print(num2 > num1)  # 10 is greater than 5
print(num1 > num2)  # 5 is not greater than 10

print(num2 == num3)  # Both have the same value
print(num3 != num1)  # Both have different values

print(3 + 10 == 5 + 5)  # Both are not equal
print(3 <= 2)  # 3 is not less than or equal to 2

print(num2 is not num3)  # Both have the same object
print(list1 is list2)  # Both have the different objects

year = 2019
print(year)

year = 2020
print(year)

year = year + 1  # Using the existing value to create a new one
print(year)
first = 20
second = first
first = 35  # Updating 'first'

print(first, second)  # 'second' remains unchanged
num = 10
print(num)

num += 5
print(num)

num -= 5
print(num)

num *= 2
print(num)

num /= 2
print(num)

num **= 2
print(num)

# Try all the others here!
# OR Expression
my_bool = True or False
print(my_bool)

# AND Expression
my_bool = True and False
print(my_bool)

# NOT expression
my_bool = False
print(not my_bool)

print(10 * True)
print(10 * False)
num1 = 10  # Binary value = 01010
num2 = 20  # Binary Value = 10100

print(num1 & num2)   # 0   -> Binary value = 00000
print(num1 | num2)   # 30  -> Binary value = 11110
print(num1 ^ num2)   # 30  -> Binary value = 11110
print(~num1)         # -11 -> Binary value = -(1011)
print(num1 << 3)     # 80  -> Binary value = 0101 0000
print(num2 >> 3)     # 2   -> Binary value = 0010

True
False
True
True
False
False
False
False
2019
2020
2021
35 20
10
15
10
20
10.0
100.0
True
False
True
10
0
0
30
30
-11
80
2

# Strings

In [ ]:
print('a' < 'b')  # 'a' has a smaller Unicode value

house = "Gryffindor"
house_copy = "Gryffindor"

print(house == house_copy)

new_house = "Slytherin"

print(house == new_house)

print(new_house <= house)

print(new_house >= house)
first_half = "Bat"
second_half = "man"

full_name = first_half + second_half
print(full_name)
random_string = "This is a random string"

print('of' in random_string)  # Check whether 'of' exists in randomString
print('random' in random_string)  # 'random' exists!

True
True
False
False
True
Batman
False
True

# List

In [ ]:
my_list = [1, 2.5, "A string", True]
print(my_list)
my_list = [1, 2.5, "A string", True]
print(my_list[2])
print(len(my_list))

G = 6.67 * (10 ** -11)
M = 6.0 * (10 ** 24)  # Mass of Earth
m = 7.34 * (10 ** 22)  # Mass of the moon
r = 3.84 * (10 ** 8)
grav_force = (G * M * m) / (r ** 2)
print(grav_force)
# Write your code here

[1, 2.5, 'A string', True]
A string
4
1.9920979817708333e+20

# Condicionales

In [ ]:
num = 5

if (num == 5):  # The condition is true
    print("The number is equal to 5")  # The code is executed

if num > 5:  # The condtion is false
    print("The number is greater than 5")  # The code is not executed

    num = 12

if num % 2 == 0 and num % 3 == 0 and num % 4 == 0:
    # Only works when num is a multiple of 2, 3, and 4
    print("The number is a multiple of 2, 3, and 4")

if (num % 5 == 0 or num % 6 == 0):
    # Only works when num is either a multiple of 5 or 6
    print("The number is a multiple of 5 and/or 6")

    num = 63

if num >= 0 and num <= 100:
    if num >= 50 and num <= 75:
        if num >= 60 and num <= 70:
            print("The number is in the 60-70 range")

            num = 10
if num > 5:
    num = 20  # Assigning a new value to num
    new_num = num * 5  # Creating a new value called newNum

# The if condition ends, but the changes made inside it remain
print(num)
print(new_num)

num = 60

if num <= 50:
    print("The number is less than or equal to 50")
else:
    print("The number is greater than 50")

    num = 60

if num <= 50:
    print("The number is less than or equal to 50")

if num > 50:
    print("The number is greater than 50")

    num = 60

output = "The number is less than or equal to 50" \
    if num <= 50 else "The number is greater than 50"

print(output)

light = "Red"

if light == "Green":
    print("Go")

elif light == "Yellow":
    print("Caution")

elif light == "Red":
    print("Stop")

else:
    print("Incorrect light signal")


    num = 5

if num == 0:
    print("Zero")
elif num == 1:
    print("One")
elif num == 2:
    print("Two")
elif num == 3:
    print("Three")
elif num == 4:
    print("Four")
elif num == 5:
    print("Five")
elif num == 6:
    print("Six")
elif num == 7:
    print("Seven")
elif num == 8:
    print("Eight")
elif num == 9:
    print("Nine")

    num = 10

if num > 5:
    print("The number is greater than 5")

if num % 2 == 0:
    print("The number is even")

if not num % 2 == 0:
    print("The number is odd")

    num = 10

if num > 5:
    print("The number is greater than 5")

elif num % 2 == 0:
    print("The number is even")

else:
    print("The number is odd and less than or equal to 5")

price = 250
if price >= 300:
    price *= 0.7  # (1 - 0.3)
elif price >= 200:
    price *= 0.8  # (1 - 0.2)
elif price >= 100:
    price *= 0.9  # (1 - 0.1)
elif price < 100 and price >= 0:
    price *= 0.95  # (1 - 0.05)

print(price)

The number is equal to 5
The number is a multiple of 5 and/or 6
The number is in the 60-70 range
20
100
The number is greater than 50
The number is greater than 50
The number is greater than 50
Stop
The number is greater than 5
The number is even
The number is greater than 5
200.0

# Funciones

In [12]:
minimum = min(10, 40)
print(minimum)

minimum = min(10, 100, 1, 1000)  # It even works with multiple arguments
print(minimum)

minimum = min("Superman", "Batman")  # And with different data types
print(minimum)

def my_print_function():  # No parameters
    print("This")
    print("is")
    print("A")
    print("function")
# Function ended


# Calling the function in the program multiple times
my_print_function()
my_print_function()

def minimum(first, second):
    if (first < second):
        print(first)
    else:
        print(second)


num1 = 10
num2 = 20

minimum(num1, num2)

def minimum(first, second):
    if (first < second):
        return first
    return second


num1 = 10
num2 = 20

result = minimum(num1, num2)  # Storing the value returned by the function
print(result)

name = "Stark"
def func():
  name = "Stark"
func()
print(name)  # Accessing 'name' outside the function

num = 20


def multiply_by_10(n):
    n *= 10
    num = n  # Changing the value inside the function
    print("Value of num inside function:", num)
    return n


multiply_by_10(num)
print("Value of num outside function:", num)  # The original value remains unchanged


random_string = "This is a string"
print(random_string.find("is"))  # First instance of 'is' occurs at index 2
print(random_string.find("is", 9, 13))  # No instance of 'is' in this range

a_string = "Welcome to Educative!"
new_string = a_string.replace("Welcome to", "Greetings from")
print(a_string)
print(new_string)

print("UpperCase".upper())
print("LowerCase".lower())


llist = ['a', 'b', 'c']
print('>>'.join(llist)) # joining strings with >>
print('<<'.join(llist)) # joining strings with <<
print(', '.join(llist)) # joining strings with comma and space


string1 = "Learn Python {version} at {cname}".format(version = 3, cname = "Educative")
string2 = "Learn Python {0} at {1}".format(3, "Educative")
string3 = "Learn Python {} at {}".format(3, "Educative")

print(string1)
print(string2)
print(string3)


print(int("12") * 10)  # String to integer
print(int(20.5))  # Float to integer
print(int(False))  # Bool to integer

# print (int("Hello")) # This wouldn't work!


print(str(12) + '.345')
print(str(False))
print(str(12.345) + ' is a string')


print(bool(10))
print(bool(0.0))
print(bool("Hello"))
print(bool(""))

10
1
Batman
This
is
A
function
This
is
A
function
10
10
Stark
Value of num inside function: 200
Value of num outside function: 20
2
-1
Welcome to Educative!
Greetings from Educative!
UPPERCASE
lowercase
a>>b>>c
a<<b<<c
a, b, c
Learn Python 3 at Educative
Learn Python 3 at Educative
Learn Python 3 at Educative
120
20
0
12.345
False
12.345 is a string
True
False
True
False

# Inputs

In [13]:
name = input("What is your name? ")
print("\nHello,", name)

What is your name? Carlos

Hello, Carlos

# Funciones 2